.sidebarMenu {
  display: flex;
  height: 100vh !important;
  /* width: 70px !important; */
  /* background-color: #ffffff; */
}

.sidebarLogo {
  margin: 18px;
  width: 34px;
  height: 34px;
  background-color: #cfd4ed;
}

.navLink {
  font-size: 12px !important;
  padding: 0px !important;
  color: white !important;
  font-weight: 700 !important;
}

.navItem {
  cursor: pointer;
}

.subMenu {
  width: 220px;
  margin-top: 70px;
  background-color: #ffffff;
  transition: 0.5s;
}

.subMenuHeader {
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding-left: 24px;
  color: #8a8a8a;
}

.menuItem {
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding-left: 24px;
  background-color: #cfd4ed;
  cursor: pointer;
}
