.navbarNav {
  left: 70px !important;
  height: 70px !important;
  background-color: #ffffff;
  padding: 18px 24px !important;
}

.navbarBrand {
  margin-right: 120px !important;
  width: 100px;
  height: 34px;
  background-color: #cfd4ed;
}

.inputSerach {
  display: flex;
  gap: 10px;
  margin-right: 24px;
}

.inputField {
  border-radius: 0 !important;
  height: 36px !important;
  width: 176px !important;
  padding-left: 35px !important;
  border: 2px solid rgb(175, 175, 175) !important;
}

.iconSearch {
  top: 8px;
  left: 8px;
  color: rgb(175, 175, 175);
}

.inputSerach button {
  border: 2px solid #0d28a6 !important;
  color: #0d28a6;
  font-weight: 700;
  height: 36px;
}

.inputSerach button:hover {
  color: white;
  background-color: #0d28a6;
}

.profileName {
  width: 38px;
  height: 38px;
  background-color: #cfd4ed;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-right: 8px;
}

::-webkit-input-placeholder {
  color: rgb(175, 175, 175) !important;
}
