.card {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  gap: 62px;
  margin-top: 24px;
  margin-bottom: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  padding: 0 !important;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardimg {
  width: 303px;
  border-radius: 5px;
  height: 50%;
  object-fit: cover;
  object-position: center;
}

.cardtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: Arial;
}

.name {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.price {
  font-weight: 700;
  font-size: 16px;
}

.category {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.update {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  gap: 5px;
}

.button {
  padding: 8px 12px 8px 12px;
  gap: 12px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
}

.directoryLabel {
  margin-bottom: 27px;
}

.directoryLabel span:first-child {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.directoryLabel span:last-child {
  font-size: 12px;
}

@media (max-width: 360px) {
  .card {
    margin: 40px 16px !important;
    flex-direction: column;
  }

  .body {
    box-sizing: border-box !important;
    width: 100% !important;
    padding: 24px !important;
  }
}
